<% color ||= "gray" %>

<span class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-xs font-medium text-<%= color %>-900 ring-1 ring-inset ring-<%= color %>-200 text-<%= color %>-500">
  <%= yield %>
</span>
