<div class="w-full">
  <div class="absolute top-8 right-8">
    <%= link_to tasks_path do %>
      <%= render 'icons/play_list_add' %>
    <% end %>
  </div>

  <% content_for :title, "Timeline" %>

  <h1 class="font-bold text-4xl mb-4">Timeline</h1>

  <div class="flex flex-col gap-10">
    <%= render 'events_by_date', date_groups: @timeline.events_grouped_by_date %>
  </div>
</div>
