<div class="w-full">
  <div class="absolute top-8 right-8">
    <%= link_to tasks_path do %>
      <%= render 'icons/play_list_add' %>
    <% end %>
  </div>

  <% content_for :title, "Timeline" %>

  <h1 class="font-bold text-4xl mb-4">Timeline</h1>

  <div class="flex flex-col gap-10">
    <% @timeline.events_grouped_by_date.each do |date, events|%>
      <section>
        <h2 class="block text-xl text-slate-500">
          <%= date.strftime("%a, %b %d, %Y") %>
        </h2>

        <ul class="text-slate-800">
          <% events.each do |event| %>
            <li>
              <%= event.description %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
  </div>
</div>
